h1, p, li {
  font-family: 'Play', sans-serif;
}

.image1 {
  border-radius: 10px;
}

.btn-primary {
  text-align: center;
  color: white !important;
  background-color: black;
  border-color: black;
}

.card-header {
  text-align: center;
  font-size: 20px;
}
.card-text {
  text-align: justify;
}

.cluster {
  float:left;
  margin: 10px;
  padding: 10px;
  background-color: lightgray;
  width: 30%;
}
