h1, h3, h4, p, li {
  font-family: 'Play', sans-serif;
}

ul {
  list-style: none;
}

.image1 {
  border-radius: 10px;
  margin: 10px;
}

.about-text {
  clear: both;
  font-style: italic;
}

.btn-primary {
  color: white;
  background-color: gray;
  border-color: gray;
  margin: 5px;
}

.card-header {
  text-align: center;
  font-size: 20px;
}
.card-text {
  text-align: justify;
  font-style: italic;
}

.cluster {
  float: left;
  margin: 10px;
  padding: 10px;
  background-color: lightgray;
  width: 45%;
}
